@import 'src/styles/utils.module.sass'

.block
  margin-top: 8px
  text-align: center

  &:before
    content: ''
    background-image: url('./flowers.png')
    background-size: 80px
    background-repeat: no-repeat
    height: 80px
    display: block

.text
  @include text

  &:last-child
    padding-bottom: 0
