@import 'src/styles/utils.module.sass'

.title
  @include font-cursive
  text-align: center
  padding: 8px
  line-height: normal
  border-bottom: 2px solid $black

.couple
  position: relative

  &__text
    @include font-cursive
    position: absolute
    z-index: 1
    color: #fff
    bottom: 16px
    width: 100%
    text-align: center
